@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  min-height: 100%;
  height: 100%;
}

@theme {
  --animate-slowZoom: slowZoom 20s ease-in-out infinite alternate;
  --animate-floatSlow: floatSlow 10s ease-in-out infinite;
  @keyframes slowZoom {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
  }
  @keyframes floatSlow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-30px); }
  }
}